body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.main {
    max-width: 1440px;
    max-height: 800px;
    display: flex;
    background: url(../images/bg-pattern-desktop.svg) no-repeat, linear-gradient( 135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background-size: contain;
}

.div-info {
    display: flex;
    flex-direction: column;
    font-family: var(--Font-JoseFin);
    padding-left: 165px;
}

.div-info .img-logo {
    width: 160px;
    margin-top: 65px;
}

.div-info h1 {
    width: 450px;
    font-size: 64px;
    color: var(--Dark-Grayish-Red);
    letter-spacing: 17px;
    line-height: 69px;
    text-transform: uppercase;
    margin-top: 134px;
}

.div-info h1 span {
    font-weight: 300;
    color: var(--Desaturated-Red);
}

.div-info p {
    font-size: 16px;
    color: var(--Desaturated-Red);
    letter-spacing: .091px;
    line-height: 28px;
    padding-right: 230px;
    margin-top: 18px;
}

.div-input {
    display: flex;
    position: relative;
    margin-top: 40px;
    margin-right: auto;
}

.div-input .input-email {
    width: 446px;
    height: 56px;
    font-family: var(--Font-JoseFin);
    font-size: 16px;
    font-weight: 700;
    padding-left: 30px;
    border-radius: 30px;
    border: 2px solid hsla(0, 36%, 70%, .5);
}

.div-input .input-email.error {
    border: 2px solid var(--Soft-Red);
}

.div-input .input-email::placeholder {
    color: hsla(0, 36%, 70%, .5);
}

.div-input .btn-email {
    width: 100px;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    cursor: url(https://github.com/HumbertoFox/repository/assets/126817628/ef5feb7b-75d4-47ee-a596-7be253492ebd), auto;
    border-radius: 30px;
    box-shadow: 0 20px 20px hsla(0, 36%, 70%, .5);
}

.div-input .btn-email:hover {
    background: hsl(0, 80%, 86%);
}

.div-info .error-message {
    font-size: 13px;
    font-weight: 600;
    color: var(--Soft-Red);
    letter-spacing: -.1px;
    padding: 0 0 0 32px;
    margin-top: 5px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding-top: 30px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}